{# templates/contact/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Contacts for {% endblock %}
{% block body %}
 <div class="row mt-5">
        <div class="col ">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Contacts</h3>
                </div>
              
              </div>
            </div>
            

  <div class="table-responsive">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th className="all">
                <div className="form-check">
                  <input type="checkbox" className="form-check-input" id="customCheck1" />
                  <label className="form-check-label" htmlFor="customCheck1"></label>
                </div>
              </th>
              <th scope="col">Nom</th>
              <th scope="col">Prénom</th>
              <th scope="col">Email</th>
              <th scope="col">Téléphone</th>
            </tr>
          </thead>
          <tbody>
            {% for contact in contacts %}
            <tr>
              <td>
                <div className="form-check">
                  <input type="checkbox" className="form-check-input" id="customCheck1" />
                  <label className="form-check-label" htmlFor="customCheck1"></label>
                </div>
              </td>
              <td scope="row">
                <div className="media align-items-center">
                  <div className="media-body">
                     <span  className="mb-0 text-sm">{{ contact.Nom }} </span>
                  </div>
                </div>
              </td>

                <td scope="row">
                <div className="media align-items-center">
                  <div className="media-body">
                     <span  className="mb-0 text-sm">{{ contact.Prenom }}</span>
                  </div>
                </div>
              </td>

               <td scope="row">
                <div className="media align-items-center">
                  <div className="media-body">
                     <span  className="mb-0 text-sm">{{ contact.Email }}</span>
                  </div>
                </div>
              </td>

               <td scope="row">
                <div className="media align-items-center">
                  <div className="media-body">
                     <span  className="mb-0 text-sm">{{ contact.Telephone }}</span>
                  </div>
                </div>
              </td>



               
           
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  </div> 
  </div>
  </div>
  
  </div>

    
    
    </div>










   
{% endblock %}
